<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="text-center">Inicio de sesión</h3>

        <form [formGroup]="authForm" (ngSubmit)="login()">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Escribe tu usuario" formControlName="username">
            @if (authForm.get('username')?.hasError('required')) {
            <mat-error>Usuario es <strong>requerido</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Escribe tu contraseña" formControlName="password">
            @if (authForm.get('password')?.hasError('required')) {
            <mat-error>Contraseña es <strong>requerida</strong></mat-error>
            }
          </mat-form-field>

          <button mat-flat-button color="primary" class="w-100">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
